<div id="loginPop" style="display:none">
    <div class="login-pop">
        <fieldset class="layui-elem-field layui-field-title">
            <legend>登录</legend>
            <div class="layui-field-box">
                <div class="layui-form-item">
                    <input type="text" name="username" id="name" lay-verify="title" autocomplete="off" placeholder="用户名/邮箱" class="layui-input">
                </div>
                <div class="layui-form-item">
                    <input type="password" name="password" id="password" lay-verify="required" placeholder="密码" autocomplete="off" class="layui-input">
                </div>
                <button class="layui-btn layui-btn-small login" id="login">登录</button>
            </div>
        </fieldset>    
        <p class="register-link">没有账号？<a href="javascript:;">立即注册</a></p>
    </div>
    <div class="login-pop register-pop" style="display:none">
        <fieldset class="layui-elem-field layui-field-title">
            <legend>注册</legend>
            <div class="layui-field-box">
                <div class="layui-form-item">
                    <input type="text" name="username" id="newName" lay-verify="title" autocomplete="off" placeholder="请输入用户名/邮箱" class="layui-input">
                </div>
                <div class="layui-form-item">
                    <input type="password" name="password" id="newPassword" lay-verify="required" placeholder="密码" autocomplete="off" class="layui-input">
                </div>
                <div class="layui-form-item">
                    <input type="password" name="password" id="newRePassword" lay-verify="required" placeholder="确认密码" autocomplete="off" class="layui-input">
                </div>
                <button class="layui-btn layui-btn-small" id="register">注册</button>
            </div>
        </fieldset>
    </div>
</div>
