body {
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.header-demo{
  height: 60px;
  border-bottom: none;
}

.layui-header .layui-nav{
  position: absolute;
  right: 0;
  padding: 0;
  height: 60px;
}

.component {
  position: absolute;
  width: 200px;
  /* left: 120px; */
  top: 16px;
}

.header-demo .component {
  right: 300px;
}

.component .layui-input {
  height: 30px;
  padding-left: 12px;
  background-color: #424652;
  background-color: rgba(255,255,255,.05);
  border: none 0;
  color: #fff;
  font-size: 12px;
}

.login-pop{
  padding: 15px;
  text-align: center;
}

.login-pop .layui-elem-field legend{
  text-align: center;
  color: #009688;
  font-weight: bold;
  margin-bottom: 10px;
}

.login-pop button{
  padding: 0 60px;
  margin-top: 10px;
}

.register-link{
  font-size: 12px;
  text-align: right;
  margin-top: 10px;
}

.register-link a{
  color: #009688;
}

